table td,
table th {
  border: 1px solid #ccc;
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
  width: 500px;
}

thead {
  background-color: #f0f1f4;
}

tfoot {
  background-color: #121212;
  color: #fff;
  text-align: right;
}
